/* CSS declarations go here */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.site-footer {
    text-align: center;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

