<template name="admin">
  <nav>
    <div class="nav-wrapper indigo darken-2">
      <a href="#" class="brand-logo right">Dashboard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        {{!-- <li class="{{overviewActive}}"><a href="/accounts/{{getCampaignNumber}}/overview">Overview</a></li>
        <li class="{{targetingActive}}"><a href="/accounts/{{getCampaignNumber}}/targeting">Targeting</a></li>
        <li class="{{creativeActive}}"><a href="/accounts/{{getCampaignNumber}}/creative">Creative</a></li>
        <li class="{{breakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/breakdowns">Age & Gender</a></li>
        <li class="{{daybreakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/daybreakdowns">Daily</a></li>
        <li class="{{hourlybreakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/hourlybreakdowns">Hourly</a></li>
        <li class="{{chartsActive}}"><a class="tooltipped" data-position="bottom" data-tooltip="View Charts" href="/accounts/{{getCampaignNumber}}/charts"><i class="material-icons">trending_up</i> </a></li> --}}
      </ul>
    </div>
  </nav>

  <a href="/admin/brands">Brand List</a><br>
  <a href="/admin/brands/new">New Brand</a><br>
  <br>
  <a href="/admin/users/">User List</a><br>
  <a href="/admin/users/{{getCurrentUser}}/edit">Edit My User Profile</a><br>
  <br>
  <a href="/admin/agencies/">Agency List</a><br>
  <a href="/admin/agencies/new">New Agency</a><br>
  <br>
  <a href="/admin/initiatives">Initiative List</a><br>
  <a href="/initiatives/new">New Initiative</a><br>

</template>
