<template name="newUser">
    <h2>Make Changes To User Profile</h2>
    <form class="new-user-form">
        <h5>Username</h5>
        <input type="text" name="username" value="{{populateFields.username}}">
        <h5>First Name</h5>
        <input type="text" name="firstName" placeholder="First Name" value="{{populateFields.firstName}}">
        <h5>Last Name</h5>
        <input type="text" name="lastName" placeholder="Last Name" value="{{populateFields.lastName}}">
        <h5>Company or Agency</h5>
        <input type="text" name="company" value="{{populateFields.company}}">
        <h5>Email</h5>
        <input type="text" name="email" id="user-form-email" value="{{populateFields.email}}">
        <h5>Admin Privileges</h5>
        <input type="radio" name="admin" value="yes" id="user-form-admin" {{adminRadioYes}}>Yes
        <input type="radio" name="admin" value="no" {{adminRadioNo}}>No
        <h5>Associated Initiatives</h5>
            {{#each getInitiatives}}
                <input type="checkbox" name="initiatives" value={{name}}>{{name}} <br />
            {{/each}}
        <input type="submit" value="Submit">
    </form>
</template>

<template name="allUsers">
    <h2>All Users</h2>
    {{#each fetchUsers}}
        <h4>{{firstName}} {{lastName}}</h4>
        <p>{{email}}</p>
        <p>Admin: {{admin}}</p>
        <p>{{company}}</p>
        <p><a href="/admin/users/{{_id}}/edit">Edit This User</a></p>
        <p>
            <a href="#" class="delete-user">Delete User</a>
        </p>
    {{/each}}
</template>
