<template name="accounts">
  <div class="row">
    <div class="col s12">
      <h3>Here is a list of all Facebook Accounts:</h3>
      <button class="refresh-accounts">Refresh Accounts</button>
      {{sessionSetter}}
    </div>
      <div class="col s8">
        {{#each accountList}}
          <h5> <a href="/accounts/{{account_id}}" class="account-link"> {{name}} </a> </h5>
          <p>Last Refresh: {{inserted}}</p>
          <p>Account ID: {{account_id}}</p>
          {{!-- <p>Amount Spent: {{amount_spent}}</p> --}}
        {{/each}}
      </div>
      {{> Template.dynamic template=other}}
  </div>
</template>



<template name="twitterAccounts">
  <div class="row">
    <div class="col s12">
      <h5>Twitter Accounts</h5>
    </div>
    <div class="col s12">
      <button class="get-twitter-accounts">Refresh Twitter Accts</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        {{#each el in getTwitterAccounts}}
          <h5> <a href="/twitteraccounts/{{el.data.account_id}}">{{el.data.name}}</a></h5>
          <p>Account ID: {{el.data.account_id}}</p>
          <p>Timezone: {{el.data.timezone}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</template>
