<template name="aggregations">
  <nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="#" class="brand-logo right">Dashboard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="row">
    <h2 class="center-align">Aggregations</h2>
    <div class="divider"></div>
    <br><br>
    <form class="aggregations-form">

      <div class="input-field col s3">
        <select name="products" id="product-select" class="browser-default">
          <option value="" disabled selected>Choose Product</option>
          <option value="Wine">Wine</option>
          <option value="Food">Food</option>
          <option value="Cars">Cars</option>
          <option value="Fashion">Fashion</option>
        </select>
        <label class="active">Product</label>
      </div>

      <div class="input-field col s3">
        <select name="objective" id="objective-select" class="browser-default">
          <option value="" disabled selected>Choose Objective</option>
          <option value="Conversions">Conversions</option>
          <option value="Link Clicks">Link Clicks</option>
          <option value="App Engagement">App Engagement</option>
          <option value="Post Engagement">Post Engagement</option>
          <option value="App Installs">App Installs</option>
          <option value="Page Likes">Page Likes</option>
          <option value="Reach">Reach</option>
          <option value="Event Attendance">Event Attendance</option>
          <option value="Offer Claims">Offer Claims</option>
          <option value="Video Views">Video Views</option>
          <option value="Leads">Leads</option>
        </select>
        <label class="active">Objective</label>
      </div>

      <div class="input-field col s3">
        <select name="agency" id="agency-select" class="browser-default">
          <option value="" disabled selected>Choose Agency</option>
          <option value="Constellation">Constellation</option>
          <option value="Cornerstone">Cornerstone</option>
          <option value="High Wide & Handsome">High Wide & Handsome</option>
          <option value="Hitachi">Hitachi</option>
          <option value="Horizon">Horizon</option>
          <option value="Icon">Icon</option>
          <option value="Rachael Piper">Rachael Piper</option>
        </select>
        <label class="active">Agency</label>
      </div>

      <div class="input-field col s3">
        <select name="brand" id="brand-select" class="browser-default">
          <option value="" disabled selected>Choose Brand</option>
          {{#each getBrands}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
        <label class="active">Brand</label>
      </div>

      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit">
          Run Aggregation
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="container">
      {{#if getAgData.error}}
        <p>{{getAgData.error}}</p>
      {{else}}
        {{#with getAgData}}
          <table class="striped centered">
            <thead>
              <tr>
                <th>Spend</th>
                <th>Impressions</th>
                <th>CPM</th>
                <th>Clicks</th>
                <th>CPC</th>
                <th>Likes</th>
                <th>CPL</th>
                <th>Reach</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{spend}}</td>
                <td>{{impressions}}</td>
                <td>{{cpm}}</td>
                <td>{{clicks}}</td>
                <td>{{cpc}}</td>
                <td>{{likes}}</td>
                <td>{{cpl}}</td>
                <td>{{reach}}</td>
              </tr>
            </tbody>
          </table>

          {{!-- <p>Impressions: {{impressions}}</p> --}}
        {{/with}}
      {{/if}}
    </div>
  </div>
</template>
