<template name="campaignDashboard">
  <div class="ui sixteen column centered grid">
    <div class="four wide centered column">
      <h2>Campaign Dashboard</h2>
    </div>
  </div>
    <div class="ui grid">
      <div class="fourteen wide centered column">
        <div class="ui five column grid">
          <a href="/accounts/{{getCampaignNumber}}/overview">
            <div class="column">
              <div class="ui button">
                Overview
              </div>
            </div>
          </a>
          <a href="/accounts/{{getCampaignNumber}}/targeting">
            <div class="column">
              <div class="ui button">
                Targeting
              </div>
            </div>
          </a>
          <a href="/accounts/{{getCampaignNumber}}/creative">
            <div class="column">
              <div class="ui button">
                Creative
              </div>
            </div>
          </a>
          <a href="#">
            <div class="column">
              <div id="dashboard-insights-button" class="ui button">Insights</div>
                <div class="ui fluid popup top left transition hidden">
                  <div class="ui three column">
                    <div class="column"><a class="setSessionCampName" href="/accounts/{{getCampaignNumber}}/breakdowns">Age & Gender</a></div>
                    <div class="column"><a class="setSessionCampName" href="/accounts/{{getCampaignNumber}}/daybreakdowns">Daily</a></div>
                    <div class="column"><a class="setSessionCampName" href="/accounts/{{getCampaignNumber}}/hourlybreakdowns">Hourly</a></div>
                  </div>
                </div>
            </div>
          </a>
          <a href="#">
            <div class="column">
              <div class="ui button">
                Visualization
              </div>
            </div>
          </a>
        </div>
      </div>
      {{#with getInitiative}}
      <div class="six wide column">
        <h3>Initiative Name: {{name}}</h3>
        <p>Agency: {{agency}}</p>
        <p>Brand: {{brand}}</p>
        <p>Products: </p>
        <p>Objective: {{objective}}</p>
      </div>
      <div class="six wide column">
        <p>Deal Type: {{dealType}}</p>
        <p>Quantity: {{quantity}}</p>
        <p>Price: {{price}}</p>
        <p>Budget: {{budget}}</p>
        <p>Platform: {{platform}}</p>
        <p>Dates: {{startDate}} -- {{endDate}}</p>
      </div>
      {{/with}}
      {{!-- <div class="sixteen wide column"> --}}
        <div class="six wide column">
          <h3>Initiative Aggregate</h3>
          {{#with getAggregate}}
            <p>Clicks: {{initiative.clicks}}</p>
            <p>CPC: {{initiative.cpc}}</p>
            <p>Reach: {{initiative.reach}}</p>
            <p>CPM: {{initiative.cpm}}</p>
            <p>Ends: {{ends}} | Days Left: {{timeLeft}}</p>
          {{/with}}
        </div>
        <div class="eight wide column">
          <h3>Projection</h3>
          <p>Days: {{getSessionDay}} <button id="project-up">+</button><button id="project-down">-</button></p>
          
        </div>
      {{!-- </div> --}}
    </div>
    {{> Template.dynamic template=tasks}}
    {{> Template.dynamic template=dash}}
</template>
