<template name="campaignInsights">
    <a href="/accounts/{{getAccountNumber}}">Back to Account Overview & Campaign List</a>
    <h2>Campaign Insights</h2>
    <p><a href="/accounts/{{getCampaignNumber}}/insights">View Campaign Insights</a></p>
    <p><a href="/accounts/{{getCampaignNumber}}/adsets">View AdSets and AdSets Insights</a></p>
    <p> <a href="/accounts/{{getCampaignNumber}}/ads">View Ads and Ads Insights</a> </p>
    {{> Template.dynamic template=initiativeStats }}
    {{#each fetchInsights}}
        <h3>Lifetime insights for <span class="campName">{{campaign_name}}</span> <br />
        Objective: {{cleanText objective}}
        </h3>
        <p><a href="/accounts/{{campaign_id}}/breakdowns">Breakdown by Age and Gender</a></p>
        <p><a href="/accounts/{{campaign_id}}/daybreakdowns">Day by day Breakdown</a></p>
        <p> <a href="/accounts/{{campaign_id}}/hourlybreakdowns">Hourly Stats Aggregated by Audience Time Zone</a></p>
        <h4>Flight Dates: {{date_start}} -- {{date_stop}}</h4>
        <p><strong>Often Viewed</strong></p>
        <p>CPM: {{cpm}}</p>
        <p>CPP: {{cpp}}</p>
        <p>CTR: {{ctr}}%</p>
        <p>Reach: {{reach}}</p>
        <p>Impressions: {{impressions}}</p>
        <p>Spend: {{spend}}</p>
        {{#if clicks}}<p>Clicks: {{clicks}}</p>{{/if}}
        {{#if cpc}}<p>CPC: {{cpc}}</p>{{/if}}
        <br />
        <p><strong>Core Insights</strong></p>
        {{#if comment}}<p>Comments: {{comment}}</p>{{/if}}
        {{#if like}}<p>Likes: {{like}}</p>{{/if}}
        {{#if link_click}}<p>Link Click: {{link_click}}</p>{{/if}}
        {{#if website_clicks}}<p>Website Clicks: {{website_clicks}}</p>{{/if}}
        {{#if photo_view}}<p>Photo View: {{photo_view}}</p>{{/if}}
        {{#if post}}<p>Post: {{post}}</p>{{/if}}
        {{#if post_like}}<p>Post Likes: {{post_like}}</p>{{/if}}
        {{#if unlike}}<p>Unlikes: {{unlike}}</p>{{/if}}
        {{#if video_play}}<p>Video Play: {{video_play}}</p>{{/if}}
        {{#if video_view}}<p>Video View: {{video_view}}</p>{{/if}}
        {{#if offsite_conversion}} <p>Offsite Conversion: {{offsite_conversion}}</p>{{/if}}
        {{#if offsite_conversion_registration}} <p>Offsite Conversion Registration: {{offsite_conversion_registration}}</p>{{/if}}
        {{#if offsite_conversion_fb_pixel_purchase}} <p>Offsite Conversion FB Pixel Purchase: {{offsite_conversion_fb_pixel_purchase}}</p>{{/if}}
        {{#if cost_per_comment}}<p>CP Comment: {{ cost_per_comment}}</p>{{/if}}
        {{#if cost_per_like}}<p>CP Like: {{ cost_per_like}}</p>{{/if}}
        {{#if cost_per_link_click}}<p>CP Link Click: {{ cost_per_link_click}}</p>{{/if}}
        {{#if cost_per_photo_view}}<p>CP Photo View: {{ cost_per_photo_view}}</p>{{/if}}
        {{#if cost_per_post}}<p>CP Post: {{ cost_per_post}}</p>{{/if}}
        {{#if cost_per_post_like}}<p>CP Post Like: {{ cost_per_post_like}}</p>{{/if}}
        {{#if cost_per_unlike}}<p>CP Unlike: {{cost_per_unlike}}</p>{{/if}}
        {{#if cost_per_video_play}}<p>CP Video Play: {{cost_per_video_play}}</p>{{/if}}
        {{#if cost_per_video_view}}<p>CP Video View: {{cost_per_video_view}}</p>{{/if}}
        {{#if cost_per_offsite_conversion_fb_pixel_purchase}} <p>CP Offsite Conversion FB Pixel Purchase: {{cost_per_offsite_conversion_fb_pixel_purchase}}</p>{{/if}}
        {{#if cost_per_offsite_conversion}} <p>CP Offsite Conversion: {{cost_per_offsite_conversion}}</p>{{/if}}
        {{#if cost_per_offsite_conversion_registration}} <p>CP Offsite Conversion Registration: {{cost_per_offsite_conversion_registration}}</p>{{/if}}
        <p>CP Page Engagement: {{cost_per_page_engagement}}</p>
        <p>CP Post Engagement: {{cost_per_post_engagement}}</p>
        <br />
        <p>CP Unique Click: {{cost_per_unique_click}}</p>
        <p>CP Total Action: {{cost_per_total_action}}</p>
        <p>Unique Impressions: {{unique_impressions}}</p>
        <p>Total Actions: {{total_actions}}</p>
        <p>Total Unique Actions: {{total_unique_actions}}</p>
        <p>Unique Clicks: {{unique_clicks}}</p>
        <p>Estimated Ad Recall Rate: {{estimated_ad_recall_rate}}</p>
        <p>CP Estimated Ad Recallers: {{cost_per_estimated_ad_recallers}}</p>
    {{/each}}
</template>
