<template name="campaignDashboard">

  {{#if isReady "Initiatives" "campaignInsightList"}}
    <div class="row dashboard-initiative-header">
      <h2>Initiative & Line Items</h2>
      <div class="col s3">
        <p class="center-align border-bottom">Name</p>
        <h4 class="center-align no-top-margin">{{getInitiative.name}}</h4>
      </div>
      <div class="col s3">
        <p class="center-align border-bottom">Agency</p>
        <h4 class="center-align no-top-margin">{{getInitiative.agency}}</h4>
      </div>
      <div class="col s3">
      <p class="center-align border-bottom">Brand</p>
        <h4 class="center-align no-top-margin">{{getInitiative.brand}}</h4>
      </div>
      <div class="col s3">
      <p class="center-align border-bottom">Product</p>
        <h4 class="center-align no-top-margin">{{getInitiative.product}}</h4>
      </div>
    </div>

    <table class="centered">
      {{#each getInitiative.lineItems}}
        <thead>
          <tr>
            {{#if objective}} <th>Objective</th> {{/if}}
            {{#if platform}} <th>Platform</th> {{/if}}
            {{#if dealType}} <th>Deal Type</th> {{/if}}
            {{#if quantity}} <th>Quantity</th> {{/if}}
            {{#if price}} <th>Price</th> {{/if}}
            {{#if budget}} <th>Budget</th> {{/if}}
            {{#if startDate}} <th>Start Date</th> {{/if}}
            {{#if endDate}} <th>End Date</th> {{/if}}
            {{#if costPlusPercent}} <th>Cost Plus</th> {{/if}}
            {{#if percentTotalPercent}} <th>Percent Total</th> {{/if}}
            {{#if isClientPercent}} <th>Client</th> {{/if}}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#if objective}}<td>{{objective}}</td>{{/if}}
            {{#if platform}}<td>{{platform}}</td>{{/if}}
            {{#if dealType}}<td>{{dealType}}</td>{{/if}}
            {{#if quantity}}<td>{{quantity}}</td>{{/if}}
            {{#if price}}<td>{{price}}</td>{{/if}}
            {{#if budget}}<td>{{budget}}</td>{{/if}}
            {{#if startDate}}<td>{{formatDate startDate}}</td>{{/if}}
            {{#if endDate}}<td>{{formatDate endDate}}</td>{{/if}}
            {{#if costPlusPercent}}<td>{{costPlusPercent}}%</td>{{/if}}
            {{#if percentTotalPercent}}<td>{{percentTotalPercent}}%</td>{{/if}}
            {{#if isClientPercent}}<td>{{isClientPercent}}%</td>{{/if}}
          </tr>
        </tbody>
      {{/each}}
    </table>
    <br>
    <div class="row">
      <div class="col s12">
        <h3 class="center-align">Initiative Aggregate</h3>
        {{#with getAggregate}}
        <table class="centered">
          <thead>
              <tr>
                <th data-field="id">Spend</th>
                <th data-field="id">Spend %</th>
                <th data-field="id">Clicks</th>
                <th data-field="id">CPC</th>
                <th data-field="id">Impressions</th>
                <th data-field="id">CPM</th>
                <th data-field="id">Likes</th>
                <th data-field="id">CPL</th>
                <th data-field="id">Reach</th>
                <th data-field="id">Date Ends</th>
                <th data-field="id">Days Left</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>{{initiative.spend}}</td>
                <td>{{spendPercent}}</td>
                <td>{{initiative.clicks}}</td>
                <td>{{initiative.cpc}}</td>
                <td>{{initiative.impressions}}</td>
                <td>{{initiative.cpm}}</td>
                <td>{{initiative.likes}}</td>
                <td>{{initiative.cpl}}</td>
                <td>{{initiative.reach}}</td>
                <td>{{ends}}</td>
                <td>{{timeLeft}}</td>
              </tr>
            </tbody>
        </table>
        {{/with}}
      </div>
    </div>
    <div class="row">
      <h3 class="center-align">Initiative Projection</h3>
      <div class="col s3 offset-s1">
        <p><button id="project-up" class="waves-effect waves-light btn">+</button> Days: {{getSessionDay}} <button id="project-down" class="waves-effect waves-light btn">-</button> </p>
      </div>
      <div class="col s2">
        <p>Daily Clicks: {{averages.avgClicks}}</p>
      </div>
      <div class="col s2">
        <p>Daily Impressions: {{averages.avgImpressions}}</p>
      </div>
      <div class="col s2">
        <p>Daily Likes: {{averages.avgLikes}}</p>
      </div>
      <div class="col s2">
        <p>Daily Spend: {{averages.avgSpend}}</p>
      </div>
      <div class="col s12">
        {{#with dataProjection}}
          <p>Clicks: {{clicks}}</p>
          <p>Impressions: {{impressions}}</p>
          <p>Likes: {{likes}}</p>
        {{/with}}
      </div>
    </div>
    {{else}}
      <p>Loading...</p>
    {{/if}}


    {{> Template.dynamic template=tasks}}
    {{> Template.dynamic template=dash}}
</template>
