<head>
  <title>stats_prototyping</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<template name="index">
    <body>

      <div id="message-box">
        <ul id="message-box-list">
        </ul>
      </div>
      <main>
        <div id="spinner-div">
        </div>
        <div id="container">
            {{> Template.dynamic template=main}}
        </div>
      </main>
      <div class="reporting-div">
      </div>
      <div>
        {{> Template.dynamic template=other2}}
      </div>
      <footer class="page-footer blue-grey darken-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content Here</h5>
              {{> loginButtons}}
              <p class="white-text">Today is {{getDate}}</p>
              <p class="white-text">More Footer Content</p>
            </div>
            <div class="col l4 offset-12 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li> <a class="white-text" href="/">Home</a></li>
                <li> <a class="white-text" href="/admin">Admin</a></li>
                <li> <a class="white-text" href="/terms">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright blue-grey darken-2">
          <div class="container">
            © 2016 Copyright
            <a class="white-text right" href="#!">Targeted Social Home</a>
          </div>
        </div>
      </footer>
    </body>
</template>
