<head>
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/db01e81c7a.js"></script>


</head>

<template name="index">
    <body>
      {{#if loggedInUser}}
        <main>
          <nav>
            <div class="nav-wrapper blue-grey darken-2">
              <ul id="nav-mobile" class="right">
                <li class="userLogout"> <a href="" style="font-size: 12px;">Logout</a></li>
              </ul>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li style="padding-left: 5px; font-size: 12px;">Hi, {{getUser}}</li>
                {{!-- <li class="userLogout"> <a href="">Logout</a></li> --}}
                <li>
                  <a href="/home" class="btn nav-link">Home</a>
                </li>
                {{#if constellationUser}}
                  <li>
                    <a href="/admin/boostrequest" class="btn nav-link">Boost Requests</a>
                  </li>
                {{/if}}
                {{#if isInRole "admin"}}
                  <li class="{{active "admin"}}">
                    <a href="/admin" class="btn nav-link">Admin</a>
                  </li>
                {{/if}}

                {{#if whatRoute "initiativeHomepage"}}
                  <li>
                    <a id="view-initiative-stats-modal" class="modal-trigger btn nav-link" href="#modal1">Campaign + Aggregate Stats</a>
                  </li>
                  {{#if isInRole "admin"}}
                    <li><a id="view-aggregate-modal" class="modal-trigger" href="#modal2">Campaign Aggregator</a></li>
                    <li><a id="file-upload-modal" class="modal-trigger" href="#modal3">Files</a></li>
                  {{/if}}
                {{/if}}
                {{#if overviewRoute "overview"}}
                  <li class="{{active "overview"}}">
                    <a href="{{buildQuery getCampaignNumber 'overview'}}" class="btn nav-link" style="color: {{linkActive "overview"}}">Overview</a>
                  </li>
                  <li class="{{active "report"}}">
                    <a href="/accounts/{{getCampaignNumber}}/report" class="btn nav-link {{isDisabled}}">Reporting</a>
                  </li>
                  {{#if isInRole "admin"}}
                    <li class="{{active "targeting"}}">
                      <a href="/accounts/{{getCampaignNumber}}/targeting" class="btn nav-link {{isDisabled}}">Targeting</a>
                    </li>
                  {{/if}}
                    <li class="{{active "creative"}}">
                      <a href="/accounts/{{getCampaignNumber}}/creative" class="btn nav-link {{isDisabled}}">Creative</a>
                      </li>
                    <li class="{{active "breakdowns"}}">
                      <a href="{{buildQuery getCampaignNumber 'gender'}}" class="btn nav-link">Age/Gender</a>
                      </li>
                    <li class="{{active "daybreakdowns"}}">
                      <a href="{{buildQuery getCampaignNumber 'daily'}}" class="btn nav-link">Daily</a>
                      </li>
                    <li class="{{active "hourlyBreakdowns"}}">
                      <a href="/accounts/{{getCampaignNumber}}/hourlybreakdowns" class="btn nav-link {{isDisabled}}">Hourly</a>
                      </li>
                    <li class="{{active "deviceAndPlacement"}}">
                      <a href="{{buildQuery getCampaignNumber 'device'}}" class="btn nav-link">Device/Placement</a>
                      </li>
                  {{#if isInRole "admin"}}
                    {{!-- <li class="{{active "charts"}}"><a class="tooltipped" data-position="bottom" data-tooltip="View Charts" href="/accounts/{{getCampaignNumber}}/charts"><i class="material-icons">trending_up</i> </a></li> --}}
                  {{/if}}
                {{/if}}
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a class="{{active "admin"}}" href="/admin">Admin</a></li>
                {{#if whatRoute "initiativeHomepage"}}
                  <li><a id="view-initiative-stats-modal" class="modal-trigger" href="#modal1">Campaign + Aggregate Stats</a></li>
                  <li><a id="view-aggregate-modal" class="modal-trigger" href="#modal2">Campaign Aggregator</a></li>
                {{/if}}
                {{#if overviewRoute "overview"}}
                  <li class="{{active "report"}}"><a href="/accounts/{{getCampaignNumber}}/report">Reporting</a></li>
                  <li class="{{active "overview"}}"><a href="/accounts/{{getCampaignNumber}}/overview">Overview</a></li>
                  {{#if isInRole "admin"}}
                    <li class="{{active "deviceAndPlacement"}}"><a href="/accounts/{{getCampaignNumber}}/devicebreakdowns">Device + Placement</a></li>
                    <li class="{{active "targeting"}}"><a href="/accounts/{{getCampaignNumber}}/targeting">Targeting</a></li>
                    <li class="{{active "charts"}}"><a class="tooltipped" data-position="bottom" data-tooltip="View Charts" href="/accounts/{{getCampaignNumber}}/charts"><i class="material-icons">trending_up</i> </a></li>
                  {{/if}}
                  <li class="{{active "creative"}}"><a href="/accounts/{{getCampaignNumber}}/creative">Creative</a></li>
                  <li class="{{active "breakdowns"}}"><a href="/accounts/{{getCampaignNumber}}/breakdowns">Age + Gender</a></li>
                  <li class="{{active "daybreakdowns"}}"><a href="/accounts/{{getCampaignNumber}}/daybreakdowns">Daily</a></li>
                  <li class="{{active "hourlyBreakdowns"}}"><a href="/accounts/{{getCampaignNumber}}/hourlybreakdowns">Hourly</a></li>

                {{/if}}
              </ul>
            </div>
          </nav>
          <div class="col s12 blue-grey darken-1 z-depth-1" style="height: 30px; display: flex; align-items: center;">
            <a href="#!" class="breadcrumb" style="padding-left: 10px;"><i class="fa fa-home" aria-hidden="true"></i></a>
            {{#if sessionBreadcrumb "initiativeHomepage"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
            {{/if}}
            {{#if sessionBreadcrumb "admin"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Admin</a>
            {{/if}}
            {{#if sessionBreadcrumb "overview"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Overview</a>
            {{/if}}
            {{#if sessionBreadcrumb "hourlyBreakdowns"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Hourly Breakdowns</a>
            {{/if}}
            {{#if sessionBreadcrumb "breakdowns"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Age/Gender Breakdowns</a>
            {{/if}}
            {{#if sessionBreadcrumb "creative"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Creative</a>
            {{/if}}
            {{#if sessionBreadcrumb "report"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Reporting</a>
            {{/if}}
            {{#if sessionBreadcrumb "daybreakdowns"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Daily Breakdown</a>
            {{/if}}
            {{#if sessionBreadcrumb "deviceAndPlacement"}}
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Initiative</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Campaign</a>
              <a href="#!" class="breadcrumb" style="font-size: 14px; line-height: 0px;">Device / Placement Breakdown</a>
            {{/if}}
          </div>


          <div id="spinner-div"></div>

          <div id="container">
              {{> Template.dynamic template=main}}
              {{#if isInRole "admin"}}
                {{> Template.dynamic template=projection}}
              {{/if}}
              {{> Template.dynamic template=dash}}
          </div>
          <div>
            {{> Template.dynamic template=other2}}
          </div>
        </main>
      {{else}}
        {{> login}}
      {{/if}}

      <footer class="page-footer blue-grey darken-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <p class="white-text">Today is {{getDate}}</p>
            </div>
            <div class="col l4 offset-12 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                {{#if loggedInUser}}
                  <li> <a class="white-text" href="/home">Home</a></li>
                  <li> <a class="white-text" href="/admin">Admin</a></li>
                {{/if}}
                <li> <a class="white-text" href="/terms">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright blue-grey darken-2">
          <div class="container">
            © 2016 Copyright
            <a class="white-text right" href="#!">Link To Home</a>
          </div>
        </div>
      </footer>
    </body>
</template>
