<head>
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<template name="index">
    <body>
      {{#if loggedInUser}}
        <main>
        <nav>
          <div class="nav-wrapper blue-grey darken-2">
            <a href="#" class="brand-logo right">Dashboard</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li class="userLogout"> <a href="">Logout</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/admin">Admin</a></li>
              {{#if whatRoute "initiativeHomepage"}}
                <li><a id="view-initiative-stats-modal" class="modal-trigger" href="#modal1">Initiative Stats</a></li>
              {{/if}}
              {{#if overviewRoute "overview"}}
                <li class="{{active "overview"}}"><a href="/accounts/{{getCampaignNumber}}/overview">Overview</a></li>
                <li class="{{active "targeting"}}"><a href="/accounts/{{getCampaignNumber}}/targeting">Targeting</a></li>
                <li class="{{active "creative"}}"><a href="/accounts/{{getCampaignNumber}}/creative">Creative</a></li>
                <li class="{{active "breakdowns"}}"><a href="/accounts/{{getCampaignNumber}}/breakdowns">Age & Gender</a></li>
                <li class="{{active "daybreakdowns"}}"><a href="/accounts/{{getCampaignNumber}}/daybreakdowns">Daily</a></li>
                <li class="{{active "hourlyBreakdowns"}}"><a href="/accounts/{{getCampaignNumber}}/hourlybreakdowns">Hourly</a></li>
                <li class="{{active "charts"}}"><a class="tooltipped" data-position="bottom" data-tooltip="View Charts" href="/accounts/{{getCampaignNumber}}/charts"><i class="material-icons">trending_up</i> </a></li>
              {{/if}}
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><a href="/admin">Admin</a></li>
              <li class="{{overviewActive}}"><a href="/accounts/{{getCampaignNumber}}/overview">Overview</a></li>
              <li class="{{targetingActive}}"><a href="/accounts/{{getCampaignNumber}}/targeting">Targeting</a></li>
              <li class="{{creativeActive}}"><a href="/accounts/{{getCampaignNumber}}/creative">Creative</a></li>
              <li class="{{breakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/breakdowns">Age & Gender</a></li>
              <li class="{{daybreakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/daybreakdowns">Daily</a></li>
              <li class="{{hourlybreakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/hourlybreakdowns">Hourly</a></li>
              <li class="{{chartsActive}}"><a class="tooltipped" data-position="bottom" data-tooltip="View Charts" href="/accounts/{{getCampaignNumber}}/charts"><i class="material-icons">trending_up</i> </a></li>
            </ul>
          </div>
        </nav>

          <div id="spinner-div">
          </div>

            <div id="container">
                {{> Template.dynamic template=main}}
            </div>
            <div>
              {{> Template.dynamic template=other2}}
            </div>
        </main>
      {{else}}
        {{> login}}
      {{/if}}

      <footer class="page-footer blue-grey darken-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content Here</h5>
              {{!-- {{> loginButtons}} --}}
              <p class="white-text">Today is {{getDate}}</p>
              <p class="white-text">More Footer Content</p>
            </div>
            <div class="col l4 offset-12 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                {{#if loggedInUser}}
                  <li> <a class="white-text" href="/">Home</a></li>
                  <li> <a class="white-text" href="/admin">Admin</a></li>
                {{/if}}
                <li> <a class="white-text" href="/terms">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright blue-grey darken-2">
          <div class="container">
            © 2016 Copyright
            <a class="white-text right" href="#!">Targeted Social Home</a>
          </div>
        </div>
      </footer>
    </body>
</template>
