<template name="initiativeHomepage">
  <nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="#" class="brand-logo right">Dashboard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a id="view-initiative-stats-modal" class="modal-trigger" href="#modal1">Initiative Stats</a></li>
        <li><a id="view-initiative-delivery-modal" class="modal-trigger" href="#modal2">Initiative Delivery</a></li>
      </ul>
    </div>
  </nav>
  {{!-- {{objectiveAggregates}} --}}

  <div id="modal1" class="modal" style="width: 75%;">
    <div class="modal-content">
      <h4>{{initiative.name}}</h4>
    </div>
    <div class="col s10">
      {{#with initiativeStats}}
      <table class="centered">
        <thead>
          <tr>
            <th class="insights-table-header">Objective</th>
            <th class="insights-table-header">Platform</th>
            <th class="insights-table-header">Deal Type</th>
            <th class="insights-table-header">Quantity</th>
            <th class="insights-table-header">Price</th>
            <th class="insights-table-header">Budget</th>
            <th class="insights-table-header">Start Date</th>
            <th class="insights-table-header">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="insights-table-data">{{initiative.objective}}</td>
            <td class="insights-table-data">{{initiative.platform}}</td>
            <td class="insights-table-data">{{initiative.dealType}}</td>
            <td class="insights-table-data">{{initiative.quantity}}</td>
            <td class="insights-table-data">{{initiative.price}}</td>
            <td class="insights-table-data">{{initiative.budget}}</td>
            <td class="insights-table-data">{{initiative.startDate}}</td>
            <td class="insights-table-data">{{initiative.endDate}}</td>
          </tr>
          {{#if initiative.dealType2}}
            <tr>
              <td class="insights-table-data">{{initiative.objective2}}</td>
              <td class="insights-table-data">{{initiative.platform2}}</td>
              <td class="insights-table-data">{{initiative.dealType2}}</td>
              <td class="insights-table-data">{{initiative.quantity2}}</td>
              <td class="insights-table-data">{{initiative.price2}}</td>
              <td class="insights-table-data">{{initiative.budget2}}</td>
              <td class="insights-table-data">{{initiative.startDate2}}</td>
              <td class="insights-table-data">{{initiative.endDate2}}</td>
            </tr>
            {{/if}}
            {{#if intiative.dealType3}}
            <tr>
              <td class="insights-table-data">{{initiative.objective3}}</td>
              <td class="insights-table-data">{{initiative.platform3}}</td>
              <td class="insights-table-data">{{initiative.dealType3}}</td>
              <td class="insights-table-data">{{initiative.quantity3}}</td>
              <td class="insights-table-data">{{initiative.price3}}</td>
              <td class="insights-table-data">{{initiative.budget3}}</td>
              <td class="insights-table-data">{{initiative.startDate3}}</td>
              <td class="insights-table-data">{{initiative.endDate3}}</td>
            </tr>
            {{/if}}
            {{#if initiative.dealType4}}
            <tr>
              <td class="insights-table-data">{{initiative.objective4}}</td>
              <td class="insights-table-data">{{initiative.platform4}}</td>
              <td class="insights-table-data">{{initiative.dealType4}}</td>
              <td class="insights-table-data">{{initiative.quantity4}}</td>
              <td class="insights-table-data">{{initiative.price4}}</td>
              <td class="insights-table-data">{{initiative.budget4}}</td>
              <td class="insights-table-data">{{initiative.startDate4}}</td>
              <td class="insights-table-data">{{initiative.endDate4}}</td>
            </tr>
            {{/if}}
            {{#if initiative.dealType5}}
            <tr>
              <td class="insights-table-data">{{initiative.objective5}}</td>
              <td class="insights-table-data">{{initiative.platform5}}</td>
              <td class="insights-table-data">{{initiative.dealType5}}</td>
              <td class="insights-table-data">{{initiative.quantity5}}</td>
              <td class="insights-table-data">{{initiative.price5}}</td>
              <td class="insights-table-data">{{initiative.budget5}}</td>
              <td class="insights-table-data">{{initiative.startDate5}}</td>
              <td class="insights-table-data">{{initiative.endDate5}}</td>
            </tr>
          {{/if}}

        </tbody>
      </table>
      <h5>Initiative Aggregate</h5>
      <table class="centered">
        <thead>
            <tr>
              <th class="insights-table-header">Spend</th>
              <th class="insights-table-header">Spend %</th>
              <th class="insights-table-header">Clicks</th>
              <th class="insights-table-header">CPC</th>
              <th class="insights-table-header">Impressions</th>
              <th class="insights-table-header">CPM</th>
              <th class="insights-table-header">Likes</th>
              <th class="insights-table-header">CPL</th>
              <th class="insights-table-header">Reach</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="insights-table-data">{{spend}}</td>
              <td class="insights-table-data">{{spendPercent}}</td>
              <td class="insights-table-data">{{clicks}}</td>
              <td class="insights-table-data">{{cpc}}</td>
              <td class="insights-table-data">{{impressions}}</td>
              <td class="insights-table-data">{{cpm}}</td>
              <td class="insights-table-data">{{likes}}</td>
              <td class="insights-table-data">{{cpl}}</td>
              <td class="insights-table-data">{{reach}}</td>
            </tr>
          </tbody>
        </table>
      {{/with}}
      {{#each objectiveAggregates}}
        <h5>{{_id}}</h5>
        <table class="centered">
          <thead>
            <tr>
              <th class="insights-table-header">Spend</th>
              <th class="insights-table-header">Clicks</th>
              <th class="insights-table-header">CPC</th>
              <th class="insights-table-header">Impressions</th>
              <th class="insights-table-header">CPM</th>
              <th class="insights-table-header">Likes</th>
              <th class="insights-table-header">CPL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="insights-table-data">{{spend}}</td>
              <td class="insights-table-data">{{clicks}}</td>
              <td class="insights-table-data">{{cpc}}</td>
              <td class="insights-table-data">{{impressions}}</td>
              <td class="insights-table-data">{{cpm}}</td>
              <td class="insights-table-data">{{likes}}</td>
              <td class="insights-table-data">{{cpl}}</td>
            </tr>
          </tbody>
        </table>
      {{/each}}
    </div>
  </div>

  <div id="modal2" class="modal" style="width: 90%; height: 90%;">
    <div class="modal-content">
      <h3>Initiative Delivery</h3>
    </div>
    {{> highchartsHelper chartId="modalDeliveryChart" chartWidth="90%" chartHeight="70%" chartObject=modalDeliveryChart}}
  </div>






{{!-------- This is where campaigns within an initiative will go ---------}}
  <h2 class="center-align">{{initiative.name}} Campaigns</h2>
    <div class="container">
      <div class="row">
        {{#each getCampaigns}}
          <div class="col s12 m12 l12">
            <div class="card z-depth-2">
              <div class="card-content">
                <a href="/accounts/{{data.campaign_id}}/overview"><span class="card-title">{{data.campaign_name}}</span></a>
                <p>{{data.date_start}} - {{data.date_stop}}</p>
                <p>Objective: {{data.objective}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
  </div>
</template>
