<template name="newInitiative">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h2>Create New Initiative</h2>
      </div>
    </div>
    <form class="new-initiative col s12">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="initiative-name" name="name" >
          <label for="initiative-name">Initiative Name</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="search-text" name="search-text" >
          <label for="search-text">Search Text</label>
          <blockquote>
            Used to identify associated campaigns. <br>
            Ex: if campaign name is "Ruffino 2016 Page Post #50", write "Ruffino 2016 Page Post" <br>
            This <strong>can</strong> be the same name as the initiative.
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select name="brand" id="brand-select" class="browser-default">
            {{#each getBrands}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
          <label class="active">Brand</label>
        </div>
        <div class="input-field col s6">
          <select name="agency" id="agency-select" class="browser-default">
            <option value="Constellation">Constellation</option>
            <option value="Horizon">Horizon</option>
          </select>
          <label class="active">Agency</label>
        </div>
        {{!-- <p>Product Category</p> --}}
        {{!-- TODO product category needs to be completed --}}
      </div>
  {{!--     <div class="row">
        <h3>Line Item</h3>
        <div class="input-field col s6">
          <input type="text" id="platform-input" name="platform">
          <label for="platform-input">Platform</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="objective-input" name="objective">
          <label for="objetive-input">Objective</label>
        </div>
        <div class="input-field col s4">
          <select name="dealType" id="dealType-dropdown" class="browser-default">
            <option value="CPC">CPC</option>
            <option value="CPM">CPM</option>
            <option value="CPL">CPL</option>
            <option value="FACTOR">FACTOR</option>
          </select>
          <label class="active">Deal Type</label>
        </div>
        <div class="input-field col s4">
          <input type="text" id="start-date" name="startDate">
          <label for="start-date">Start Date</label>
        </div>
        <div class="input-field col s4">
          <input type="text" id="end-date" name="endDate">
          <label for="end-date">End Date</label>
        </div>
        <div class="input-field col s4">
          <input type="text" id="price-input" name="price">
          <label for="price-input">Price</label>
        </div>
        <div class="input-field col s4">
          <input type="text" id="budget-input" name="budget">
          <label for="budget-input">Budget (no commas in input, ex: 15000.00)</label>
        </div>
        <div class="input-field col s4">
          <input type="text" id="quantity-input" name="quantity">
          <label for="quantity-input">Quantity</label>
        </div>
      </div> --}}
      <h2>Enter Line Items</h2>

      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">
            Line Item #1
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="platform-input" name="platform">
                <label for="platform-input">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input" name="objective">
                <label for="objetive-input">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType" id="dealType-dropdown" class="browser-default">
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date" name="startDate">
                <label for="start-date">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date" name="endDate">
                <label for="end-date">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input" name="price">
                <label for="price-input">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input" name="budget">
                <label for="budget-input">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input" name="quantity">
                <label for="quantity-input">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #2
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="platform-input2" name="platform2">
                <label for="platform-input2">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input2" name="objective2">
                <label for="objetive-input2">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType2" id="dealType-dropdown2" class="browser-default">
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date2" name="startDate2">
                <label for="start-date2">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date2" name="endDate2">
                <label for="end-date2">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input2" name="price2">
                <label for="price-input2">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input2" name="budget2">
                <label for="budget-input2">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input2" name="quantity2">
                <label for="quantity-input2">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #3
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="platform-input3" name="platform3">
                <label for="platform-input3">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input3" name="objective3">
                <label for="objetive-input3">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType3" id="dealType-dropdown3" class="browser-default">
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date3" name="startDate3">
                <label for="start-date3">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date3" name="endDate3">
                <label for="end-date3">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input3" name="price3">
                <label for="price-input3">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input3" name="budget3">
                <label for="budget-input3">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input3" name="quantity3">
                <label for="quantity-input3">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #4
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="platform-input4" name="platform4">
                <label for="platform-input4">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input4" name="objective4">
                <label for="objetive-input4">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType4" id="dealType-dropdown4" class="browser-default">
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date4" name="startDate4">
                <label for="start-date4">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date4" name="endDate4">
                <label for="end-date4">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input4" name="price4">
                <label for="price-input4">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input4" name="budget4">
                <label for="budget-input4">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input4" name="quantity4">
                <label for="quantity-input4">Quantity</label>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="row">
        <div class="input-field col s12">
          <textarea name="notes" class="materialize-textarea" id="textarea1" placeholder="write down any notes for this initiative"></textarea>
          <label for="textarea1"></label>
        </div>
      </div>

      <input type="submit" value="Submit">

    </form>
  </div>
</template>

<template name="initiativeStats">
    {{!-- <h3>These are stats for the initiative</h3>
        {{#with getInitiativeStats }}
            <p>{{brand}} || {{agency}}</p>
            <p>Deal Type: {{dealType}}</p>
            <p>Budget: {{budget}} || Quantity: {{quantity}} || Price: {{price}}</p>
            <p>{{notes}}</p>
        {{/with}} --}}
</template>

<template name="initiatives">
    <h2>Initiatives</h2>
    {{#each getInitiatives}}
        <a href="/admin/initiatives/{{_id}}"><h4>{{name}}</h4></a>
        <p>Dates: {{startDate}} -- {{endDate}}</p>
        <p>Deal Type: {{dealType}}</p>
        <p>Budget: {{budget}}</p>
    {{/each}}

</template>

<template name="initiative">
    {{#with getInitiative}}
        <a href="/admin/initiatives/{{_id}}/aggregate"><h2>{{name}}</h2></a>
        <p>Brand: {{brand}}</p>
        <p>Agency: {{agency}}</p>
        <p>Deal Type: {{dealType}}</p>
        <p>Budget: {{budget}}</p>
        <p>Quantity: {{quantity}}</p>
        <p>Price: {{price}}</p>
        <p>Starts: {{startDate}}</p>
        <p>Ends: {{endDate}}</p>
        <p>Campaigns: {{campaign_names}}</p>
        <p>notes: {{notes}}</p>
        <button id="edit-initiative-button">Edit</button>
    {{/with}}
</template>

<template name="initiativeAggregate">
    <h2>Aggregate Stats for Initiative</h2>
    {{#with showAggregate}}
        {{#each showAggregate.aggregateData}}
            <h3>{{_id}}</h3>
            <br><br><br>
            <p>Clicks: {{clicks}}</p>
            <p>CPC: {{cpc}}</p>
            <p>CPM: {{cpm}}</p>
            <p>Reach: {{reach}}</p>
        {{/each}}
    <br><br>
        <p>Agency: {{agency}}</p>
        <p>Budget: {{budget}}</p>
        <p>Deal Type: {{dealType}}</p>
        <p>Price: {{price}}</p>
        <p>Quantity: {{quantity}}</p>
    {{/with}}
</template>

<template name="editInitiative">
    <h3>Edit Initiative</h3>
    <form id="edit-initiative-form">
        {{#with getInitiative}}
            <h4>Name: </h4><input type="text" name="name" value="{{name}}" size="40">
            <br><br>
            <p>Search Text: </p>
            <input type="text" name="search_text" value={{search_text}} size="40">
            <br><br>
            <p>Brand:</p>
            <input type="text" name="brand" value={{brand}}>
            <br><br>
            <p>Deal type</p>
            <select name="dealtype" id="dealtype-select">
                    <option value="CPC">CPC</option>
                    <option value="CPM">CPM</option>
                    <option value="CPL">CPL</option>
                    <option value="FACTOR">FACTOR</option>
                </select><br><br>
            <p>Agency</p>
            <select name="agency" id="agency-select">
                <option value="Constellation">Constellation</option>
                <option value="Horizon">Horizon</option>
            </select>
            <br><br>
            <p>Budget: </p> <input type="text" name="budget" value="{{budget}}">
            <p>Quantity: </p> <input type="text" name="quantity" value="{{quantity}}">
            <p>Price: </p> <input type="text" name="price" value="{{price}}">
            <p>Starts: </p> <input type="text" name="startDate" value="{{startDate}}">
            <p>Ends: </p> <input type="text" name="endDate" value="{{endDate}}">
            <p>notes: </p> <input type="text" name="notes" value="{{notes}}">
            <p>Campaigns:</p>
            {{#each getCampaigns.names}}
                <p>{{this}}</p>
            {{/each}}
            <a href="/admin/initiatives/{{_id}}/edit/campaigns">Edit Campaigns Associated with this Initiative</a>
            <br /><br />
            <input type="submit" value="Update Initiative">
        {{/with}}
    </form>
</template>

<template name="editInitiativeCampaigns">
    <h2>Edit Initiative Campaigns</h2>
    <form id="edit-initiative-campaigns">
        {{#each getInitiative}}
            Initiative Name: {{name}}
            <br>
            Campaigns: {{campaign_names}}
        {{/each}}
        <br><br><br>
        <h4>Campaigns Currently Associated</h4>
        {{#each getCampaigns}}
            <input type="checkbox" name="campaign" value={{this}} checked>{{this}} <br>
        {{/each}}
        <br>
        <h4>All Available Campaigns</h4>
        {{#each getAllCampaigns}}
            <input type="checkbox" name="allCampaigns" value={{this.data.campaign_name}}>{{this.data.campaign_name}} <br>
        {{/each}}
        <br>
        <input type="submit" value="Submit">
    </form>

</template>
