<template name="newInitiative">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h2>Create New Initiative</h2>
      </div>
    </div>
    <form class="new-initiative col s12">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="initiative-name" name="name" >
          <label for="initiative-name">Initiative Name</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="search-text" name="search_text" >
          <label for="search-text">Search Text</label>
          <blockquote>
            Search Text is used to identify associated campaigns. <br>
            Ex: if campaign name is "Ruffino 2016 Page Post #50", write "Ruffino 2016 Page Post" <br>
            This <strong>can</strong> be the same name as the initiative.
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <select name="brand" id="brand-select" class="browser-default">
            <option value="" disabled selected>Choose Brand</option>
            {{#each getBrands}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
          <label class="active">Brand</label>
        </div>
        <div class="input-field col s4">
          <select name="agency" id="agency-select" class="browser-default">
            <option value="" disabled selected>Choose Agency</option>
            <option value="Constellation">Constellation</option>
            <option value="Horizon">Horizon</option>
          </select>
          <label class="active">Agency</label>
        </div>
        <div class="input-field col s4">
          <select name="product" id="product-select" class="browser-default">
            <option value="" disabled selected>Choose Product Type</option>
            <option value="wine">Wine</option>
            <option value="food">Food</option>
          </select>
          <label class="active">Product</label>
        </div>
        {{!-- <p>Product Category</p> --}}
        {{!-- TODO product category needs to be completed --}}
      </div>
      <h2>Enter Line Items</h2>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active">
            Line Item #1
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <select name="platform" id="" class="browser-default">
                  <option value="" disabled selected>Choose Platform</option>
                  <option value="facebook">Facebook</option>
                  <option value="twitter">Twitter</option>
                  <option value="google">Google</option>
                  <option value="pinterest">Pinterest</option>
                  <option value="instagram">Instagram</option>
                  <option value="tumblr">Tumblr</option>
                  <option value="youtube">YouTube</option>
                </select>
                <label class="active">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input" name="objective">
                <label for="objetive-input">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType" id="dealType-dropdown" class="browser-default">
                  <option value="" disabled selected>Choose Deal Type</option>
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date" name="startDate">
                <label for="start-date">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date" name="endDate">
                <label for="end-date">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input" name="price">
                <label for="price-input">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input" name="budget">
                <label for="budget-input">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input" name="quantity">
                <label for="quantity-input">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #2
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <select name="platform2" id="" class="browser-default">
                  <option value="" disabled selected>Choose Platform</option>
                  <option value="facebook">Facebook</option>
                  <option value="twitter">Twitter</option>
                  <option value="google">Google</option>
                  <option value="pinterest">Pinterest</option>
                  <option value="instagram">Instagram</option>
                  <option value="tumblr">Tumblr</option>
                  <option value="youtube">YouTube</option>
                </select>
                <label class="active">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input2" name="objective2">
                <label for="objetive-input2">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType2" id="dealType-dropdown2" class="browser-default">
                  <option value="" disabled selected>Choose Deal Type</option>
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date2" name="startDate2">
                <label for="start-date2">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date2" name="endDate2">
                <label for="end-date2">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input2" name="price2">
                <label for="price-input2">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input2" name="budget2">
                <label for="budget-input2">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input2" name="quantity2">
                <label for="quantity-input2">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #3
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <select name="platform3" id="" class="browser-default">
                  <option value="" disabled selected>Choose Platform</option>
                  <option value="facebook">Facebook</option>
                  <option value="twitter">Twitter</option>
                  <option value="google">Google</option>
                  <option value="pinterest">Pinterest</option>
                  <option value="instagram">Instagram</option>
                  <option value="tumblr">Tumblr</option>
                  <option value="youtube">YouTube</option>
                </select>
                <label class="active">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input3" name="objective3">
                <label for="objetive-input3">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType3" id="dealType-dropdown3" class="browser-default">
                  <option value="" disabled selected>Choose Deal Type</option>
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date3" name="startDate3">
                <label for="start-date3">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date3" name="endDate3">
                <label for="end-date3">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input3" name="price3">
                <label for="price-input3">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input3" name="budget3">
                <label for="budget-input3">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input3" name="quantity3">
                <label for="quantity-input3">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #4
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <select name="platform4" id="" class="browser-default">
                  <option value="" disabled selected>Choose Platform</option>
                  <option value="facebook">Facebook</option>
                  <option value="twitter">Twitter</option>
                  <option value="google">Google</option>
                  <option value="pinterest">Pinterest</option>
                  <option value="instagram">Instagram</option>
                  <option value="tumblr">Tumblr</option>
                  <option value="youtube">YouTube</option>
                </select>
                <label class="active">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input4" name="objective4">
                <label for="objetive-input4">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType4" id="dealType-dropdown4" class="browser-default">
                  <option value="" disabled selected>Choose Deal Type</option>
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date4" name="startDate4">
                <label for="start-date4">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date4" name="endDate4">
                <label for="end-date4">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input4" name="price4">
                <label for="price-input4">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input4" name="budget4">
                <label for="budget-input4">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input4" name="quantity4">
                <label for="quantity-input4">Quantity</label>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Line Item #5
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s6">
                <select name="platform5" id="" class="browser-default">
                  <option value="" disabled selected>Choose Platform</option>
                  <option value="facebook">Facebook</option>
                  <option value="twitter">Twitter</option>
                  <option value="google">Google</option>
                  <option value="pinterest">Pinterest</option>
                  <option value="instagram">Instagram</option>
                  <option value="tumblr">Tumblr</option>
                  <option value="youtube">YouTube</option>
                </select>
                <label class="active">Platform</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="objective-input5" name="objective5">
                <label for="objetive-input5">Objective</label>
              </div>
              <div class="input-field col s4">
                <select name="dealType5" id="dealType-dropdown5" class="browser-default">
                  <option value="" disabled selected>Choose Deal Type</option>
                  <option value="CPC">CPC</option>
                  <option value="CPM">CPM</option>
                  <option value="CPL">CPL</option>
                  <option value="FACTOR">FACTOR</option>
                </select>
                <label class="active">Deal Type</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="start-date5" name="startDate5">
                <label for="start-date5">Start Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="end-date5" name="endDate5">
                <label for="end-date5">End Date</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="price-input5" name="price5">
                <label for="price-input5">Price</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="budget-input5" name="budget5">
                <label for="budget-input5">Budget (no commas in input, ex: 1500.00)</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="quantity-input5" name="quantity5">
                <label for="quantity-input5">Quantity</label>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="notes" class="materialize-textarea" id="textarea1" placeholder="write down any notes for this initiative"></textarea>
          <label for="textarea1"></label>
        </div>
      </div>
      <button class="btn waves-effect waves-light tooltipped" type="submit" name="action" data-position="right" data-tooltip="Make sure everything is accurate!">
        Create Initiative
      </button>
    </form>
  </div>
</template>

<template name="initiativeStats">
    {{!-- <h3>These are stats for the initiative</h3>
        {{#with getInitiativeStats }}
            <p>{{brand}} || {{agency}}</p>
            <p>Deal Type: {{dealType}}</p>
            <p>Budget: {{budget}} || Quantity: {{quantity}} || Price: {{price}}</p>
            <p>{{notes}}</p>
        {{/with}} --}}
</template>

<template name="initiatives">
    <h2>Initiatives</h2>
    {{#each getInitiatives}}
        <a href="/admin/initiatives/{{_id}}"><h4>{{name}}</h4></a>
        <p>Dates: {{startDate}} -- {{endDate}}</p>
        <p>Deal Type: {{dealType}}</p>
        <p>Budget: {{budget}}</p>
    {{/each}}

</template>

<template name="initiative">
    {{#with getInitiative}}
        <a href="/admin/initiatives/{{_id}}/aggregate"><h2>{{name}}</h2></a>
        <p>Brand: {{brand}}</p>
        <p>Agency: {{agency}}</p>
        <p>Deal Type: {{dealType}}</p>
        <p>Budget: {{budget}}</p>
        <p>Quantity: {{quantity}}</p>
        <p>Price: {{price}}</p>
        <p>Starts: {{startDate}}</p>
        <p>Ends: {{endDate}}</p>
        <p>Campaigns: {{campaign_names}}</p>
        <p>notes: {{notes}}</p>
        <button id="edit-initiative-button">Edit</button>
        <button id="delete-initiative">Delete</button>
    {{/with}}
</template>

<template name="initiativeAggregate">
    <h2>Aggregate Stats for Initiative</h2>
    {{#with showAggregate}}
        {{#each showAggregate.aggregateData}}
            <h3>{{_id}}</h3>
            <br><br><br>
            <p>Clicks: {{clicks}}</p>
            <p>CPC: {{cpc}}</p>
            <p>CPM: {{cpm}}</p>
            <p>Reach: {{reach}}</p>
        {{/each}}
    <br><br>
        <p>Agency: {{agency}}</p>
        <p>Budget: {{budget}}</p>
        <p>Deal Type: {{dealType}}</p>
        <p>Price: {{price}}</p>
        <p>Quantity: {{quantity}}</p>
    {{/with}}
</template>

<template name="editInitiative">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h2>Edit Initiative</h2>
      </div>
    </div>
      <form id="edit-initiative-form" class="col s12">
        {{#with getInitiative}}
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="initiative-name" name="name" value="{{name}}">
              <label for="initiative-name" class="active">Initiative Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" id="search-text" name="search_text" value={{search_text}}>
              <label for="search-text" class="active">Search Text</label>
              <blockquote>
                Search Text is used to identify associated campaigns. <br>
                Ex: if campaign name is "Ruffino 2016 Page Post #50", write "Ruffino 2016 Page Post" <br>
                This <strong>can</strong> be the same name as the initiative.
              </blockquote>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <select name="brand" id="brand-select" class="browser-default">
                <option value="{{brand}}" selected>{{brand}}</option>
                {{!-- <option value="" disabled selected>Choose Brand</option> --}}
                {{#each getBrands}}
                  <option value="{{name}}">{{name}}</option>
                {{/each}}
              </select>
              <label class="active">Brand</label>
            </div>
            <div class="input-field col s4">
              <select name="agency" id="agency-select" class="browser-default">
                <option value="{{agency}}" selected>{{agency}}</option>
                {{!-- <option value="" disabled selected>Choose Agency</option> --}}
                <option value="Constellation">Constellation</option>
                <option value="Horizon">Horizon</option>
              </select>
              <label class="active">Agency</label>
            </div>
            <div class="input-field col s4">
              <select name="product" id="product-select" class="browser-default">
                <option value="{{product}}" selected>{{product}}</option>
                <option value="Wine">Wine</option>
                <option value="Food">Food</option>
              </select>
              <label class="active">Product</label>
            </div>
          </div>
          <h2>Enter Line Items</h2>
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header">
                Line Item #1
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="platform" id="" class="browser-default">
                      <option value="{{platform}}" selected>{{platform}}</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Twitter">Twitter</option>
                      <option value="Google">Google</option>
                      <option value="Pinterest">Pinterest</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Tumblr">Tumblr</option>
                      <option value="Youtube">YouTube</option>
                    </select>
                    <label class="active">Platform</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" id="objective-input" name="objective" value="{{objective}}">
                    <label for="objetive-input" class="active">Objective</label>
                  </div>
                  <div class="input-field col s4">
                    <select name="dealType" id="dealType-dropdown" class="browser-default">
                      <option value="{{dealType}}" selected>{{dealType}}</option>
                      <option value="CPC">CPC</option>
                      <option value="CPM">CPM</option>
                      <option value="CPL">CPL</option>
                      <option value="FACTOR">FACTOR</option>
                    </select>
                    <label class="active">Deal Type</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="start-date" name="startDate" value="{{startDate}}">
                    <label for="start-date" class="active">Start Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="end-date" name="endDate" value="{{endDate}}">
                    <label for="end-date" class="active">End Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="price-input" name="price" value="{{price}}">
                    <label for="price-input" class="active">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="budget-input" name="budget" value="{{budget}}">
                    <label for="budget-input" class="active">Budget (no commas in input, ex: 1500.00)</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="quantity-input" name="quantity" value={{quantity}}>
                    <label for="quantity-input" class="active">Quantity</label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                Line Item #2
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="platform2" id="" class="browser-default">
                      <option value="{{platform2}}" selected>{{platform2}}</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Twitter">Twitter</option>
                      <option value="Google">Google</option>
                      <option value="Pinterest">Pinterest</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Tumblr">Tumblr</option>
                      <option value="Youtube">YouTube</option>
                    </select>
                    <label class="active">Platform</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" id="objective-input2" name="objective2" value="{{objective2}}">
                    <label for="objetive-input2" class="active">Objective</label>
                  </div>
                  <div class="input-field col s4">
                    <select name="dealType2" id="dealType-dropdown2" class="browser-default">
                      <option value="{{dealType2}}" selected>{{dealType2}}</option>
                      <option value="CPC">CPC</option>
                      <option value="CPM">CPM</option>
                      <option value="CPL">CPL</option>
                      <option value="FACTOR">FACTOR</option>
                    </select>
                    <label class="active">Deal Type</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="start-date2" name="startDate2" value="{{startDate2}}">
                    <label for="start-date2" class="active">Start Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="end-date2" name="endDate2" value="{{endDate2}}">
                    <label for="end-date2" class="active">End Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="price-input2" name="price2" value="{{price2}}">
                    <label for="price-input2" class="active">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="budget-input2" name="budget2" value="{{budget2}}">
                    <label for="budget-input2" class="active">Budget (no commas in input, ex: 1500.00)</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="quantity-input2" name="quantity2" value={{quantity2}}>
                    <label for="quantity-input2" class="active">Quantity</label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                Line Item #3
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="platform3" id="" class="browser-default">
                      <option value="{{platform3}}" selected>{{platform3}}</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Twitter">Twitter</option>
                      <option value="Google">Google</option>
                      <option value="Pinterest">Pinterest</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Tumblr">Tumblr</option>
                      <option value="Youtube">YouTube</option>
                    </select>
                    <label class="active">Platform</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" id="objective-input3" name="objective3" value="{{objective3}}">
                    <label for="objetive-input3" class="active">Objective</label>
                  </div>
                  <div class="input-field col s4">
                    <select name="dealType3" id="dealType-dropdown3" class="browser-default">
                      <option value="{{dealType3}}" selected>{{dealType3}}</option>
                      <option value="CPC">CPC</option>
                      <option value="CPM">CPM</option>
                      <option value="CPL">CPL</option>
                      <option value="FACTOR">FACTOR</option>
                    </select>
                    <label class="active">Deal Type</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="start-date3" name="startDate3" value="{{startDate3}}">
                    <label for="start-date3" class="active">Start Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="end-date3" name="endDate3" value="{{endDate3}}">
                    <label for="end-date3" class="active">End Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="price-input3" name="price3" value="{{price3}}">
                    <label for="price-input3" class="active">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="budget-input3" name="budget3" value="{{budget3}}">
                    <label for="budget-input3" class="active">Budget (no commas in input, ex: 1500.00)</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="quantity-input3" name="quantity3" value={{quantity3}}>
                    <label for="quantity-input3" class="active">Quantity</label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                Line Item #4
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="platform4" id="" class="browser-default">
                      <option value="{{platform4}}" selected>{{platform4}}</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Twitter">Twitter</option>
                      <option value="Google">Google</option>
                      <option value="Pinterest">Pinterest</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Tumblr">Tumblr</option>
                      <option value="Youtube">YouTube</option>
                    </select>
                    <label class="active">Platform</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" id="objective-input4" name="objective4" value="{{objective4}}">
                    <label for="objetive-input4" class="active">Objective</label>
                  </div>
                  <div class="input-field col s4">
                    <select name="dealType4" id="dealType-dropdown4" class="browser-default">
                      <option value="{{dealType4}}" selected>{{dealType4}}</option>
                      <option value="CPC">CPC</option>
                      <option value="CPM">CPM</option>
                      <option value="CPL">CPL</option>
                      <option value="FACTOR">FACTOR</option>
                    </select>
                    <label class="active">Deal Type</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="start-date4" name="startDate4" value="{{startDate4}}">
                    <label for="start-date4" class="active">Start Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="end-date4" name="endDate4" value="{{endDate4}}">
                    <label for="end-date4" class="active">End Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="price-input4" name="price4" value="{{price4}}">
                    <label for="price-input4" class="active">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="budget-input4" name="budget4" value="{{budget4}}">
                    <label for="budget-input4" class="active">Budget (no commas in input, ex: 1500.00)</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="quantity-input4" name="quantity4" value={{quantity4}}>
                    <label for="quantity-input4" class="active">Quantity</label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                Line Item #5
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s6">
                    <select name="platform5" id="" class="browser-default">
                      <option value="{{platform5}}" selected>{{platform5}}</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Twitter">Twitter</option>
                      <option value="Google">Google</option>
                      <option value="Pinterest">Pinterest</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Tumblr">Tumblr</option>
                      <option value="Youtube">YouTube</option>
                    </select>
                    <label class="active">Platform</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" id="objective-input5" name="objective5" value="{{objective5}}">
                    <label for="objetive-input5" class="active">Objective</label>
                  </div>
                  <div class="input-field col s4">
                    <select name="dealType5" id="dealType-dropdown5" class="browser-default">
                      <option value="{{dealType5}}" selected>{{dealType5}}</option>
                      <option value="CPC">CPC</option>
                      <option value="CPM">CPM</option>
                      <option value="CPL">CPL</option>
                      <option value="FACTOR">FACTOR</option>
                    </select>
                    <label class="active">Deal Type</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="start-date5" name="startDate5" value="{{startDate5}}">
                    <label for="start-date5" class="active">Start Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="end-date5" name="endDate5" value="{{endDate5}}">
                    <label for="end-date5" class="active">End Date</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="price-input5" name="price5" value="{{price5}}">
                    <label for="price-input5" class="active">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="budget-input5" name="budget5" value="{{budget5}}">
                    <label for="budget-input5" class="active">Budget (no commas in input, ex: 1500.00)</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="quantity-input5" name="quantity5" value={{quantity5}}>
                    <label for="quantity-input5" class="active">Quantity</label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <h2>Notes</h2>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="notes" class="materialize-textarea" id="textarea1" placeholder="write down any notes for this initiative" value="{{notes}}"></textarea>
              <label for="textarea1"></label>
            </div>
          </div>
          <h2>Campaigns Within This Initiative</h2>
          <div class="row">
            <div class="col s4">
              <div class="collection">
                {{#each getCampaigns.names}}
                  <li class="collection-item">{{this}}</li>
                {{/each}}
              </div>
            </div>
          </div>
          <a href="/admin/initiatives/{{_id}}/edit/campaigns">Edit Campaigns Associated with this Initiative</a>
          <br /><br />
          <button class="btn waves-effect waves-light" type="submit" name="action">Update Initiative</button>
        {{/with}}
      </form>
  </div>
</template>

<template name="editInitiativeCampaigns">
  <h2>Edit Initiative Campaigns</h2>

  <div class="row">
    <div id="left" class="col s6" style="position: fixed; left: 50%;">
      <h3>Currently Associated Campaigns</h3>
      {{#each getCampaigns}}
        <div class="teal" style="border: 1px solid black; height: 2em; font-size: 18px; cursor: move;">
          <p>{{this}}</p>
        </div>
      {{/each}}
    </div>
    <div id="right" class="col s6">
      <h3>All Available Campaigns</h3>
      {{#each getAllCampaigns}}
      <div style="border: 1px solid black; height: 2em; font-size: 18px; cursor: move;">
        <p>{{this.data.campaign_name}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</template>


<template name="initiativesHome">
  <nav>
    <div class="nav-wrapper indigo darken-2">
      <a href="#" class="brand-logo right">Dashboard</a>
      <ul id="nav-mobile" class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>

      </ul>
    </div>
  </nav>
  <div class="row">
    {{#each getAllInitiatives}}
      <div class="col s12 m6 l4">
          <div class="card z-depth-3">
            <div class="card-content">
              <a href="/initiatives/{{_id}}/homepage"><span class="card-title">{{name}}</span></a>
              <p>Dates: {{startDate}} -- {{endDate}}</p>
              <p>Brand: {{brand}}</p>
              <p>Agency: {{agency}}</p>
              <p>Created: {{inserted_date}}</p>
            </div>
            <div class="card-action">
              <a href="/admin/initiatives/{{_id}}">View & Edit Initiative</a>
            </div>
          </div>
      </div>
    {{/each}}
  </div>
    <div class="row">
      <div class="col s12">
        <a href="/viewaccounts">
          <button class="btn waves-effect waves-light" name="action">
            View By Accounts
          </button>
        </a>
      </div>
    </div>
</template>
