<template name="initiativeHomepage">
  <nav>
    <div class="nav-wrapper indigo darken-2">
      <a href="#" class="brand-logo right">Dashboard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        {{!-- <li class="{{overviewActive}}"><a href="/accounts/{{getCampaignNumber}}/overview">Overview</a></li>
        <li class="{{targetingActive}}"><a href="/accounts/{{getCampaignNumber}}/targeting">Targeting</a></li>
        <li class="{{creativeActive}}"><a href="/accounts/{{getCampaignNumber}}/creative">Creative</a></li>
        <li class="{{breakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/breakdowns">Age & Gender</a></li>
        <li class="{{daybreakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/daybreakdowns">Daily</a></li>
        <li class="{{hourlybreakdownsActive}}"><a href="/accounts/{{getCampaignNumber}}/hourlybreakdowns">Hourly</a></li>
        <li class="{{chartsActive}}"><a class="tooltipped" data-position="bottom" data-tooltip="View Charts" href="/accounts/{{getCampaignNumber}}/charts"><i class="material-icons">trending_up</i> </a></li> --}}
      </ul>
    </div>
  </nav>


  {{#with initiativeStats}}
    <div class="row">
      <div class="col s12">
        <a id="view-initiative-stats-modal" class="waves-effect waves-light btn modal-trigger center-align" href="#modal1">View Initiative Stats</a>
      </div>
    </div>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>{{initiative.name}}</h4>
      </div>
      <div class="col s12">
        <table class="centered">
          <thead>
            <tr>
              <th>Date Start</th>
              <th>Date End</th>
              <th>Budget</th>
              <th>Deal Type</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{initiative.startDate}}</td>
              <td>{{initiative.endDate}}</td>
              <td>{{initiative.budget}}</td>
              <td>{{initiative.dealType}}</td>
              <td>{{initiative.quantity}}</td>
              <td>{{initiative.price}}</td>
            </tr>
          </tbody>
        </table>
        <table class="centered">
          <thead>
              <tr>
                <th data-field="id">Spend</th>
                <th data-field="id">Spend %</th>
                <th data-field="id">Clicks</th>
                <th data-field="id">CPC</th>
                <th data-field="id">Impressions</th>
                <th data-field="id">CPM</th>
                <th data-field="id">Likes</th>
                <th data-field="id">CPL</th>
                <th data-field="id">Reach</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{spend}}</td>
                <td>{{spendPercent}}</td>
                <td>{{clicks}}</td>
                <td>{{cpc}}</td>
                <td>{{impressions}}</td>
                <td>{{cpm}}</td>
                <td>{{likes}}</td>
                <td>{{cpl}}</td>
                <td>{{reach}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  {{/with}}

{{!-------- This is where campaigns within an initiative will go ---------}}
  <h2 class="center-align">{{initiative.name}} Campaigns</h2>
    <div class="container">
      <div class="row">
        {{#each getCampaigns}}
          <div class="col s12 m12 l12">
            <div class="card z-depth-2">
              <div class="card-content">
                <a href="/accounts/{{data.campaign_id}}/overview"><span class="card-title">{{data.campaign_name}}</span></a>
                <p>{{data.date_start}} - {{data.date_stop}}</p>
                <p>Objective: {{data.objective}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
  </div>
</template>
