<template name="taskTracker">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Campaign Task Tracker</h2>
      </div>
    </div>
    {{#if isReady "campaignBasicsList"}}
      <div class="row">
        <div class="col s3">
          <h4>
            <input type="checkbox" class="tracker-checkbox" name="approvedTargeting" id="approvedTargeting" {{targetingChecked}}>
            <label for="approvedTargeting">Approved Targeting</label>
          </h4>
        </div>
        <div class="col s3">
          <h4>
            <input type="checkbox" class="tracker-checkbox" name="receivedCreative" id="receivedCreative" {{creativeChecked}}>
            <label for="receivedCreative">Received Creative</label>
          </h4>
        </div>
        <div class="col s3">
          <h4>
            <input type="checkbox" class="tracker-checkbox" name="receivedTracking" id="receivedTracking" {{trackingChecked}}>
            <label for="receivedTracking">Received Tracking</label>
          </h4>
        </div>
        <div class="col s3">
          <h4>
            <input type="checkbox" class="tracker-checkbox" name="signedIO" id="signedIO" {{signedIoChecked}}>
            <label for="signedIO">Signed IO</label>
          </h4>
        </div>
      </div>
    {{else}}
      <p>Loading...</p>
    {{/if}}

  </div>
</template>
