<template name="terms">
<nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="#" class="brand-logo right">Dashboard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <br><br>
  <div class="row">
    <div class="container">
      <div class="col s12">
        <div class="center-align">
          <img src="/images/TSLOGO.jpeg" class="circle" style="height: 250px; width: 250px;">
        </div>
        <h1>Privacy Policy for Targeted Social Dashboard</h1>
        <p>Privacy Policy goes here.........</p>
      </div>
    </div>
  </div>
</template>
