<template name="newUser">
    <h2>Create User Profile</h2>
    <form class="new-user-form">
        <p>Username</p>
        <input type="text" name="username" value="{{populateFields.username}}">
        <p>First Name</p>
        <input type="text" name="firstName" placeholder="First Name">
        <p>Last Name</p>
        <input type="text" name="lastName" placeholder="Last Name">
        <p>Company or Agency</p>
        <input type="text" name="company">
        <p>Email</p>
        <input type="text" name="email" id="user-form-email">
        <p>Admin Privileges</p>
        <input type="radio" name="admin" value="yes" id="user-form-admin">Yes<br />
        <input type="radio" name="admin" value="no">No<br />
        <input type="submit" value="Submit">
    </form>

</template>
