
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

table {
  margin-bottom: 35px;
}
 /* --------------- For Dragula ----------------- */
 .gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.grabbable {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor: -moz-grab; /* Firefox 1.5-26 */
    cursor: grab; /* W3C standards syntax, should come least */
}
.grabbable:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

#left {
  border: 1px solid red;
}

/* --------------- Overwrite Materialize Styles -------------------- */

.card-action {
  padding: 10px 0 10px 20px;
}

.card-title {
  font-size: 20px;
}

/* --------------- Link Styles ---------------------- */

a:hover {
  color: orange;
}

.insights-table-header {
  border: 1px solid rgba(128, 128, 128, 0.3);
  /*border: 1px solid rgba(128, 128, 128, 0.3);*/
}

.insights-table-data {
  border: 1px solid rgba(128, 128, 128, 0.3);
  /*border: 1px solid rgba(128, 128, 128, 0.3);*/
}








/* ---------------- Admin Pages ---------------- */
#admin-home-row {
  text-align: center;
}

#createUser-agency-select {
  height: 20em;
}

#createUser-initiative-select {
  height: 20em;
}


.dashboard-initiative-header {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.no-top-margin {
  margin-top: 0px;
  padding-bottom: 1em;
}

.border-bottom {
  border-bottom: 1px solid #4db6ac;
  text-align: center;
  margin-bottom: 8px;
}

.projection-buttons {
  margin-top: 2%;
}

.typeahead-text {
  color: #000000;
}


/* --------------- Sort Label on Start Page ----------------- */

.sort-label {
  display: block;
  text-align: center;
}

/* -------------- DROPZONE STYLES FOR FILE UPLOAD --------------  */
.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
