<template name="newBrand">
    <h2>Create New Brand</h2>
    <form class="new-brand-form">
        <p>Name</p><input type="text" name="name">
        <p>Agency</p><select name="agency" id="agency-select">
            {{#each getAgencies}}
                <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <p>FaceBook ID ("account number" on FB)</p><input type="text" name="facebook_id">
        <p>Twitter ID</p><input type="text" name="twitter_id">
        <p>YouTube ID</p><input type="text" name="youtube_id">
        <p>Instagram ID</p><input type="text" name="instagram_id">
        <p>Google ID</p><input type="text" name="google_id">
        <p>Pinterest ID</p><input type="text" name="pinterest_id">
        <br />
        <p>Initiatives</p>
        {{!-- TODO This needs to be figured out --}}
        <p>Product Category</p><select name="product" id="product-select">
            {{#each thing in getProducts}}
                <option value="{{thing}}">{{thing}}</option>
            {{/each}}
        </select>
        <br />
        <h4>Platform Pages</h4>
        <p>Website</p><input type="text" name="website" placeholder="web address">
        <p>Facebook Page</p><input type="text" name="facebook_page">
        <p>Twitter Page</p><input type="text" name="twitter_page">
        <p>YouTube Page</p><input type="text" name="youtube_page">
        <p>Google Analytics Page</p><input type="text" name="google_page">
        <p>Instagram Page</p><input type="text" name="instagram_page">
        <p>Pinterest Page</p><input type="text" name="pinterest_page">
        <br />
        <input type="submit" value="Create Brand">
    </form>
</template>

<template name="brands">
    <h2>List of Brands</h2>

</template>
